/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); */

html, body
  height: 100%
  font-family: 'Lato', sans-serif
  
body
  // background: #333
  display: flex
  justify-content: center
  align-items: center
  font-family: Helvetica Neue
  
h1
  font-size: 2em
  // color: #eee
  color: #aec1cc
  display: inline-block

a
  color: white
p
  margin-top: 1em
  text-align: center
  color: #aaa
  
intro
  text-align: center
  padding: 38px 0
  
button 
  display: inline
  width: 100px
  height: 45px
  float: right
  margin-top: 12px
  border: 0
  border-radius: 4px
  text-transform: uppercase
  font-weight: 600
  font-family: 'Lato', sans-serif
  letter-spacing: 0.5px
  color: white
  background: #ee6c6c
  cursor: pointer