/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); */

html, body
  height: 100%
  font-family: 'Lato', sans-serif
  
body
  background: #333
  display: flex
  justify-content: center
  align-items: center
  font-family: Helvetica Neue
  
h1
  font-size: 2em
  // color: #eee
  color: #aec1cc
  display: inline-block

a
  color: white
p
  margin-top: 1em
  text-align: center
  color: #aaa
  
intro
  text-align: center
  padding: 38px 0
  
button 
  display: inline
  width: 100px
  height: 45px
  float: right
  margin-top: 12px
  border: 0
  border-radius: 4px
  text-transform: uppercase
  font-weight: 600
  font-family: 'Lato', sans-serif
  letter-spacing: 0.5px
  color: white
  background: #ee6c6c
  cursor: pointer

/*****************************************************/
  body {
    font-family: sans-serif;
    font-weight: normal;
    margin: 10px;
    color: #999;
    background-color: #eee;
  }
  
  form {
    margin: 40px 0;
  }
  
  div {
    clear: both;
    margin: 0 50px;
  }
  
  label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-size: 18px;
    text-align: center;
  }
  
  
  #button-row{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #button-1{
    display: flex;
    flex-direction: column;
  }
  
  #button-2{
    display: flex;
    flex-direction: column;
  }
  
  /* hide input */
  input.radio:empty {
    margin-left: -9999px;
  }
  
  /*****************************************************/
  /* style label */
  input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
  }
  
  /*****************************************************/
  /* toggle hover */
  /* input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
  }
  
  input.radio:hover:not(:checked) ~ label {
    color: #888;
  } */
  
  /*****************************************************/
  /* toggle on */
  input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
  }
  
  input.radio:checked ~ label {
    color: #777;
  }
  
  /* #radio1 input:checked ~ label:before{
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
  }
  
  #radio1 input:checked ~ label {
    color: #777;
  }
  
  #radio2 input:checked ~ label:before{
    content:'\2715';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #e04c4c;
  }
  
  #radio2 input:checked ~ label {
    color: #777;
  } */
  /*****************************************************/
  /* radio focus */
  input.radio:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
  }
  
  