/* Font - Open Sans */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  background-color: white;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  color: #aec1cc;
  letter-spacing: 0.5px;
}

* {
  padding: 0;
  margin: 0;
}

.app-container {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 10px #888;
}

.container {
  margin: 0 40px;
}

.intro {
  text-align:center;
  padding: 38px 0;
}

.profile-image img {
  width: 91px;
  border: 6px solid #e9eff3;
  border-radius: 50%;
}

.intro-greeting {
  padding-top: 20px;
}

.greeting-heading {
  font-size: 25px;
  font-weight: 400;
  color: #586b77;
}

.greeting-instruction {
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
}


.input{
  border: 1px solid #e1ebf1;
  border-radius: 3px;
  padding: 15px 10px;
  margin: 5px 0;
}

.input input {
  border: 0;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8697a1;
  letter-spacing: 0.6px;
}

.input input:focus {
  outline: 0;
}

.input .input-checkmark {
  width: 10%;
  display: inline;
  float: right;
}

.input-inline{
  padding: 12px 0;
  display: inline-block;
  position: absolute;
}

.input label {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
}

.button button {
  display: inline;
  width: 100px;
  height: 45px;
  float: right;
  margin-top: 12px;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  color: white;
  background: #ee6c6c;
  cursor: pointer;
}


input:focus .input-checkmark i {
/*   background: red; */
  
}

/* Utilities */
.no-border {
  border: 0;
}
